body {
  font-family: "AvenirNextL";
}
a {
  color: #227ed6;
}
.btn {
  text-transform: none;
  background: #227ed6;
  border: none;
  line-height: 38px;
}
.btn:hover,
.btn:focus {
  opacity: .9;
  color: #FFF;
  background: #227ed6;
}
* .clear {
  clear: both;
}
* .popup-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}
.container {
  width: calc(100% - 2px);
  max-width: 100%;
  padding: 0 10px;
}
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  padding: 0 10px;
}
.loading-page {
  width: 100px;
  height: 100px;
  margin-top: calc(50vh - 50px);
  margin-left: calc(50% - 50px);
}
.page_title {
  font-size: 25px;
  font-family: 'DW-Bosk';
  margin: 0;
  margin-top: 5px;
}
.page_title.big {
  font-size: 40px;
  margin-bottom: 5px;
}
.panel-primary {
  border-color: #227ed6;
}
.panel-primary .panel-heading {
  background: #227ed6;
  border-color: #227ed6;
}
.delete-form {
  display: inline;
}
.btn-delete,
.btn-delete:focus {
  text-align: left;
  color: red;
  display: inline;
  background: none;
  padding: 0;
  margin: 0;
  border: none;
}
.panel-primary .table-area {
  overflow-x: scroll;
}
.panel-primary .table-area .table {
  margin-bottom: 0;
}
.panel-primary .table-area .table td {
  border-radius: 0;
}
.panel-primary .table-area .table th {
  font-family: 'AvenirNextM';
}
.refresh-info {
  margin-bottom: 0;
  margin-top: 15px;
}
#main-header {
  width: 100%;
  background: #227ed6;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
}
#main-header .container {
  width: 100%;
  max-width: 100%;
  padding: 0 7.5px;
}
#main-header .container .row {
  margin: 0;
}
#main-header .container .row .logo {
  height: 45px;
  padding: 7.5px 0;
}
#main-header .container .row .logo a {
  margin-left: 5px;
}
#main-header .container .row .logo a img {
  height: 45px;
}
#main-header .container .row .questions {
  text-align: right;
  height: 60px;
  color: #FFF;
  line-height: 60px;
  font-size: 25px;
}
#main-content {
  width: 100%;
  margin-top: 60px;
  padding: 10px 0;
}
#main-content #index {
  width: 100%;
}
#main-content #index .index-btn {
  display: block;
  height: 200px;
  margin-bottom: 10px;
}
#main-content #index .index-btn .overlay {
  width: 100%;
  height: 100%;
  background: #CCC;
  background-size: 100%;
  color: #FFF;
  font-family: "DW-Bosk";
}
#main-content #index .index-btn .overlay h1 {
  font-size: 45px;
  margin-top: 144px;
  margin-left: 16px;
}
#main-content #index .index-btn .overlay#news {
  background: url("../img/news.png");
  background-size: 100%;
}
#main-content #index .index-btn .overlay#program {
  background: url("../img/program.png");
  background-size: 100%;
}
#main-content #index .index-btn .overlay#lectours {
  background: url("../img/lectours.png");
  background-size: 100%;
}
#main-content #index .index-btn .overlay#exhibitors {
  background: url("../img/exhibitors.png");
  background-size: 100%;
}
#news {
  width: 100%;
}
#news .news {
  width: 100%;
  margin: 10px 0;
}
#news .news .title {
  font-size: 25px;
  font-family: 'DW-Bosk';
  line-height: 25px;
  margin: 0;
  color: #227ed6;
}
#news .news .info {
  display: block;
  font-size: 12px;
  margin: 5px 0;
  color: #227ed6;
  opacity: .7;
}
#news .news p {
  font-family: 'AvenirNextL';
  opacity: 0.7;
}
#main-footer {
  width: 100%;
  margin-top: -10px;
  text-align: center;
}
#main-footer a {
  color: #227ed6;
}
#main-footer p {
  opacity: .7;
}
#logged {
  width: 100%;
  height: 40px;
  background: #FFF;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 101;
  -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.5);
}
#logged .name {
  line-height: 40px;
  font-family: 'AvenirNextL';
}
#logged .control {
  line-height: 40px;
  text-align: right;
  font-size: 25px;
}
#logged .control .dropdown-content {
  right: 10px;
  width: 200px !important;
}
#logged .control .dropdown-content a {
  color: #227ed6;
}
#logged .control .dropdown-content hr {
  margin: 0;
}
#questions {
  width: 100%;
  height: 100vh;
  background: rgba(24, 126, 214, 0.95);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 25px;
  display: none;
}
#questions .fa-times {
  float: right;
  font-size: 35px;
  color: #FFF;
  right: 40px;
  top: 40px;
  cursor: pointer;
  position: absolute;
  z-index: 1500;
}
#questions .content {
  width: 100%;
  margin-top: 5px;
}
#questions .content .page_title {
  font-size: 30px;
  color: #FFF;
}
#questions .content .btn {
  width: 100%;
  text-transform: none;
  background: #FFF;
  color: #000;
}
#questions .content .input-field {
  margin-top: 25px;
}
#questions .content .input-field input,
#questions .content .input-field textarea {
  border-bottom: 1px rgba(255, 255, 255, 0.8) solid;
  color: #FFF;
}
#questions .content .input-field label {
  color: #FFF;
  opacity: .8;
}
#live-element {
  width: 100%;
  padding: 0 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
#live-element .name {
  width: 100%;
  margin: 0;
  font-family: 'DW-Bosk';
  font-size: 40px;
  color: #227ed6;
}
#live-element .question {
  font-size: 25px;
  font-family: 'AvenirNextB';
  text-transform: uppercase;
  color: #227ed6;
  opacity: .7;
}
#live-element .min-text {
  font-size: 16px;
  font-family: 'AvenirNextB';
  color: #227ed6;
  margin-top: 15px;
}
.live {
  background: red;
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  -webkit-animation: live_bg 1s infinite;
  /* Safari 4.0 - 8.0 */
  animation: live_bg 1s infinite;
}
.live .btn-delete {
  color: #FFF;
}
#speakers {
  width: 100%;
}
#speakers .speaker .content {
  position: absolute;
  width: calc(100% - 20px);
  height: 100%;
}
#speakers .speaker .content .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
#speakers .speaker .content .image img {
  width: 100%;
}
#speakers .speaker .info {
  width: 100%;
  height: 100%;
  padding: 15px;
  padding-top: calc(100% - 80px);
}
#speakers .speaker .info h1 {
  font-family: 'DW-Bosk';
  margin: 0;
  padding: 0;
  color: #FFF;
  font-size: 45px;
}
#speakers .speaker .info .profession {
  opacity: .7;
  color: #FFF;
  font-size: 18px;
  font-family: "AvenirNextB";
  text-transform: uppercase;
  margin-top: -10px;
}
#speakers .speaker:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
#speakers .speaker-single .title {
  font-size: 25px;
  font-family: 'DW-Bosk';
  line-height: 25px;
  margin: 0;
  color: #227ed6;
  margin-top: 15px;
}
#speakers .speaker-single .info {
  display: block;
  width: 100%;
  font-size: 12px;
  margin: 5px 0;
  color: #227ed6;
  opacity: .7;
  margin-top: 5px;
  height: 35px;
}
#speakers .speaker-single .info a {
  display: block;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  background: #227ed6;
  float: left;
  color: #FFF;
  border-radius: 35px;
  margin-right: 5px;
}
#speakers .speaker-single p {
  font-family: 'AvenirNextL';
  opacity: 0.7;
  margin-top: 15px;
}
.validate.col-xs-3 {
  width: 25% !important;
}
.mce-tinymce {
  margin-bottom: 40px !important;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes live_bg {
  0% {
    background: #7ed622;
  }
  50% {
    background: rgba(126, 214, 34, 0.5);
  }
  100% {
    background: #7ed622;
  }
}
@keyframes live_bg {
  0% {
    background: #7ed622;
  }
  50% {
    background: rgba(126, 214, 34, 0.5);
  }
  100% {
    background: #7ed622;
  }
}
@media screen and (max-width: 900px) {
  .panel-body .right {
    width: 100%;
    margin: 5px 0 !important;
  }
}
